<h1>All about us!</h1>
<p>This website was created using Ruby and Rails. This makes it very hard for people who are not familliar with Rails to work on it!</p>
<p>You see, Rails does a lot of the setup work for you, which is great! But if you are not sure what Rails has done, it is not as easy to follow as some other languages.</p>
<h3>Learning Curve Ahead!!!</h3>